{% extends "riddles/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load icons %}

{% block extra-css-js %}
<link rel="stylesheet" type="text/css" href="{% static 'riddles/style.css' %}">
{% endblock extra-css-js %}

{% block body-class %}
class="text-center"
{% endblock body-class %}

{% block body %}
<div class="cover-container d-flex p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
        <h3 class="masthead-brand">Bits and Bytes</h3>
        </div>
    </header>

    {% ifequal success "true" %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Congratulation Team {{team}} You have solved the Riddle!!!</h1>
        <p class="lead">Your Time Stamp is: {{timestamp}}</p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
        <p>Website Design by Bri and Kyle.</p>
        </div>
    </footer>
    {% endifequal %}
</div>
{% endblock %}